<h2>Sign up confirmation</h2>

<div class="row">
  <div class="col-md-8">
      <h4>Is this information correct?</h4>
      <p>Email: <%= @user.email %></p>
      <p>Username: <%= @user.name %></p>
  </div>
  <div class="col-md-12">
  <div class="confirm-button-margin">
      <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn-lg btn-success' %>
  </div>
  <div class="confirm-button-margin">
      <%= button_to "No", {controller: "users", action: "new"}, class: 'btn-lg btn-failure pull-left', :method => :get %>
  </div>
</div>
</div>


